<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
		<head>
				<meta charset="utf-8">
				<meta http-equiv="X-UA-Compatible" content="IE=edge">
				<title>SDMP: Secure Distributed Messaging Protocol</title>
				<meta name="description" content="Specifications and implementation of a secure distributed messaging protocol.">
				<meta name="viewport" content="width=device-width, initial-scale=1">
				{% capture inlinecss %}{% include style.scss %}{% endcapture %}
				<style type="text/css">{{ inlinecss | scssify }}</style>
				<link rel="shortcut icon" href="http://sdmp.github.io/favicon.ico">
				<meta property="og:image" content="http://sdmp.github.io/mesh.png">
		</head>
		<body>
			<div id="github-link"><a href="https://github.com/sdmp/sdmp.github.io">view on github</a></div>
