<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
		<head>
				<meta charset="utf-8">
				<meta http-equiv="X-UA-Compatible" content="IE=edge">
				<title>SDMP: Secure Distributed Messaging Protocol</title>
				<meta name="description" content="Specifications and implementation of a secure distributed messaging protocol.">
				<meta name="viewport" content="width=device-width, initial-scale=1">
				<style type="text/css">{% include normalize.css %}</style>
				<style type="text/css">{% include style.css %}</style>
				<link rel="shortcut icon" href="//sdmp.github.io/favicon.ico">
				<meta property="og:image" content="http://sdmp.github.io/img/mesh-network.png">
		</head>
		<body>

			<div id="view-repo-link"><a href="https://github.com/sdmp/sdmp.github.io">view on github</a></div>

			<section class="index">
		
				<header class="background-gradient-gray-to-white">
					<div class="content-width border-bottom">
						<img role="banner" alt="Logo for the sdmp." src="//sdmp.github.io/img/mesh-network.svg">
						<h1>SDMP <span>{{page.version}}</span></h1>
						<h2>Secure Distributed Messaging Protocol</h2>
					</div>
				</header>

				<article class="content-width">
					{{content}}
				</article>

				<footer>
					<p class="background-gradient-white-to-gray">Made with love by <a href="http://tobiaslabs.com">Tobias Labs</a>.</p>
				</footer>

			</section>

			<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
				ga('create', 'UA-48746924-2', 'auto');
				ga('send', 'pageview');
			</script>

		</body>
</html>
